@import 'media-queries';
@import 'colors';
@import 'fonts';
@import 'easings';
.home {
    color: $c-grey-dark;
    padding: 20px;

    &__adddog{
      margin-bottom: 20px;
    }

    &__title {
        position: relative;
        font-weight: bold;
        margin: 0;
        color:$c-black;
        font-size: $fs-title;
        letter-spacing: 2px;
    }
    &__title--sub {
      margin: 0;
      color:$c-grey-dark;
      font-size: $fs-desc;
    }
    &__desc {
        font-size: 12px;
        max-width: 320px;
    }
    &__link {
        color: $c-white;
        text-shadow: 1px 1px 0px black;
        text-decoration: none;
    }
    &__video {
      position: absolute;
      visibility: hidden;
    }

    &__canvas{
      position: fixed;
      top:0;
      left:0;
    }
}

.projects {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.project {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    cursor: pointer;
    /*size of image*/
    &__title {
      font-size: $fs-title;
    }
    &__image {
        max-width: 300px;
    }
    &__desc {
      font-size: $fs-desc;
      a{
        color: white;
      }
    }

    &__body{
      position: relative;
      max-width: 540px;
      p{
        margin: 0;
        max-width: 100%;
      }
      figure{
        margin: 0;
      }

      &:hover{
        p{
          text-decoration: underline;
        }
      }
    }
}
